%h1 Listing pages

%table.table
  %thead
    %tr
      %th Title
      %th Slug
      %th Actions

  %tbody
    - @pages.each do |page|
      %tr
        %td
          = link_to page.title, edit_admin_page_path(page)
        %td
          =link_to url_for_page(page) do
            %code
              = url_for_page page
        %td= link_to 'Destroy', admin_page_path(page), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_admin_page_path, class: 'btn btn-primary'
